<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
</style>

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' 'sans-serif';
}

#logo {

    color: #47684C;
    text-decoration: none;
    text-align: center;
    display:block;
}

nav ul {
    list-style: none;
    background-color: #204c39;
    text-align: center;
    padding: 0;
    margin: 0;

}

nav li {
    font-size: 1.2em;
    line-height: 40px ;
    height: 40px;
    display: inline-block;
    margin: 2.5%;

}
nav a {
    text-decoration: none;
    color: #fff;
    display: block;

}

nav a:hover {
    background-color:#fff;
    color: #204c39;
}