
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' 'sans-serif';
}

#logo {

    color: #47684C;
    text-decoration: none;
    text-align: center;
    display:block;
    font-family: 'montserrat';
    font-size: 30px;
}

.menue ul {
    list-style: none;
    background-color: #000000;
    text-align: center;
    padding: 0;
    margin: 0;

}

.menue li {
    font-size: 1.2em;
    line-height: 40px ;
    height: 40px;
    display: inline-block;
    margin: 2.5%;
    padding: 0px;

}
.menue a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-family: 'montserrat';
   

}

.menue a:hover {
    background-color:#fff;
    color: #204c39;
}

#hero-image {

background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 69vh;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden; 
 width: 100%;

}
 

.why-us {
    text-decoration: none;
    font-family: 'Montserrat' 'sans-serif';
    color:#000000;
    height:600px;
}

#why-buy-heading {
    text-align: center;
    margin: 0 auto;
    font-family: 'montserrat';

}

.container1 {
    padding-top: 30px;
    float: left;
    text-align: center;
    width: 33%;
    background-color: #ffffff;
    font-family: 'montserrat';

}

.container2 {
    padding-top: 30px;
    text-align: center;
    width: 33%;
    float: right;
    background-color: #ffffff;
    font-family: 'montserrat';


}

.container3 {
width: 33%;
margin: 0 auto;
text-align: center;
background-color: #ffffff;
font-family: 'montserrat';
padding: 30px;


}
