
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html {
    font-family: 'montserrat';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' 'sans-serif';
}

#logo {

    color: #368a11;
    text-decoration: none;
    text-align: center;
    display:inline;
    font-family: 'montserrat';
    font-size: 150%;
    float: left;
}

/* this line of code bellow wont work */

.header-nav {
    background-color: #bcbcbc;;
}

.menue {
font-size: 110%;
letter-spacing: 4px;
}



.menue li {
   float: right;
   list-style-type: none;
   margin-right: 30px;
   margin-top: 30px;
   
}
.menue a {
    text-decoration: none;
    color: #368a11;
    display: inline-block;
    font-family: 'montserrat';
}
    
.menue, #logo {
    line-height: 30px;
    

}


.menue a:hover {
    background-color:#368a11;
    color: #fff;
}

#hero-image {

background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 69vh;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden; 
 width: 100%;

}
 p {
    font-size:20px;
 }

.why-us {
    text-decoration: none;
    font-family: 'Montserrat' 'sans-serif';
    color:#000000;
    height:100px;
    padding-top: 10%;
    padding-bottom: 20%;
}
 .why-us h3 {
    color: #368a11;
 }

#why-buy-heading {
    text-align: center;
    margin: 0 auto;
    font-family: 'montserrat';
    color: #000000;

}

.container1 {
    padding-top: 30px;
    float: left;
    text-align: center;
    width: 33%;
    

}

.container2 {
    padding-top: 30px;
    text-align: center;
    width: 33%;
    float: right;
    


}

 .container3 {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;


}

#comevisit{
    font-family: 'montserrat';
    text-align: center;   
    color:#368a11 ;
}

hr {

    border: 2px solid #368a11;
    width: 50%;

}

/* comments */
.footer {
    padding-top: 1%;
    padding-bottom: 30px;

}

.footer p {
    font-size: 15px;
}

#footerlogo {
    color: #368a11;
    text-align: center;
    font-family: 'montserrat';
    font-size: 150%;
}

.opening-times {
    
    float: left;
    text-align: center;
    width: 33%;
    font-family: 'montserrat';
}

.address {

    text-align: center;
    width: 33%;
    float: right;
    font-family: 'montserrat';
}

.socials {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    font-family: 'montserrat';
    padding: 30px;
        
}

.socials-list {

    list-style-type: none;
    text-align: center;

}

.socials-list > li {
    display: inline;
}

.socials-list i {
    font-size: 100;
    margin: 1%;
    padding:5%;
    color: #000000;
}

.footer-heading {
    color: #368a11;
}

/* information section on main page */
.side-right {
    text-align: center;
    width: 40%;
    float: right;
    padding-right: 30px;
    
}

.side-left {
    text-align: center;
    width: 40%;
    float: left;
    padding-left: 30px;
    

}

#side-image {
    width: 400px;
    height: 400px;
    
    margin: 0 auto;
    
}
.side-right p {
    font-size: 20px;
    line-height: 30px;
    
}

