
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* general css her*/
html {
    font-family: 'montserrat';
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' 'sans-serif';
}
 
.section-heading {
    width:100%;
    text-align: center;
    color: #000000;
    font-size: 25px;

 }

 p {
    font-size:20px;
 }

/* nav section here. nav section's css was inspired by love running project*/

#logo {

    color: #368a11;
    text-decoration: none;
    text-align: center;
    display:inline;
    font-family: 'montserrat';
    font-size: 150%;
    float: left;
}

.menue {
font-size: 110%;
letter-spacing: 4px;
}

.menue li {
   float: right;
   list-style-type: none;
   margin-right: 30px;
   margin-top: 30px;
   
}
.menue a {
    text-decoration: none;
    color: #368a11;
    display: inline-block;
    font-family: 'montserrat';
}
    
.menue, #logo {
    line-height: 30px;
}

.menue a:hover {
    background-color:#368a11;
    color: #fff;
}

/* hero image section */

.hero1 {
    background-image: url(/images/farm-image13.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.hero2 {
    background-image: url(/images/farm-image18.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
    

.hero3 {
background-image: url(/images/farm-image17.jpg);
width: 100%;
height: 40vh;
background-size: cover;
background-position: center;
display: flex;
align-items: flex-end;
}

.hero-text {
flex: 1;
text-align: center;
font-size: 1rem;
letter-spacing: 2px;
background-color: #d9ead3;
text-transform: uppercase;
}

 /* why us section. this section was inspired from love running project*/
.why-us {
    text-decoration: none;
    font-family: 'Montserrat' 'sans-serif';
    color:#000000;
    width:100%;
    margin: auto;
}
 .why-us h3 {
    color: #368a11;
    padding: 20px;
 }

.container1 {
    padding-top: 30px;
    float: left;
    text-align: center;
    width: 33%;
    padding-bottom: 30px;
}

.container2 {
    padding-top: 30px;
    text-align: center;
    width: 33%;
    float: right;
    padding-bottom: 30px;
}

 .container3 {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* our-farm section */

 .our-farm-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: #d9ead3;
 }
 
 .our-farm-colms {
    flex: 1;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 5%;
    text-align: left;
 }
.our-farm-colms img{
    width: 90%;
    border-radius: 10px;
}

.our-farm-colms p{
    padding: 0;
}

/* produce page starts here*/

.our-produce-title h1{
    width:100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #fff;
    color: #000000;
 } 
 
 .produce-row{
    display: flex;
    flex-direction: row;
    gap: 2rem;
 }
 
 .produce-colms {
    flex: 1;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 5%;
    text-align: left;
 }
.produce-colms img{
    width: 90%;
    border-radius: 10px;
}

.produce-colms p{
    padding: 0;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
} 

.produce-colms h3 
{
    font-size: 35px;
    text-align: center;
    color: #368a11;
    text-transform: uppercase;
}

/* page ends here*/

/* about us page starts here */

#about-us {
    font-size: 18px;
    line-height: 24px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
/*page ends here*/

/* footer section. this section was inspired from the love running project */
.footer {
    padding-top: 1%;
    padding-bottom: 30px;
}

.footer p {
    font-size: 15px;
}

#footerlogo {
    color: #368a11;
    text-align: center;
    font-family: 'montserrat';
    font-size: 150%;
}

.opening-times {
    
    float: left;
    text-align: center;
    width: 33%;
    font-family: 'montserrat';
}

.address {

    text-align: center;
    width: 33%;
    float: right;
    font-family: 'montserrat';
}

.socials {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    font-family: 'montserrat';
    padding: 30px;
        
}

.socials-list {

    list-style-type: none;
    text-align: center;

}

.socials-list > li {
    display: inline;
}

.socials-list i {
    font-size: 100;
    margin: 1%;
    padding:5%;
    color: #000000;
}

.footer-heading {
    color: #368a11;
}
/* footer ends here*/

/*@media queries*/

@media screen and (min-width: 300px) and (max-width: 500px) {
    #logo {
        font-size: 90%;
        height: 20px;
    }
    .menue {
        font-size: 50%; 
    }
    .produce-colms p {
        font-size: 2px;
 
     }
}

@media screen and (max-width: 700px) {
    .our-farm-row {
        flex-direction: column;
        flex-wrap: wrap;
        
        }
    .our-farm-colms {
        width: 85%; 
        margin-left: 10%;
        }    
    .produce-row {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .produce-colms {
        width: 85%; 
        margin-left: 10%;
        }    
    .produce-colms p {
       font-size: 20px;

    }
    }

@media screen and (max-width: 830px) {
    
    .why-us {
        width: 90%;
        margin: 0 auto;
    }
    .why-us h3 {
        width: 100%;
        text-align:center;
    }
    .container1, .container2, .container3 {
        width: 100%     
    }
    .container2 {
        padding-top:0px;
    }
    .container1 {
        padding-bottom: 0px;
    }
    .produce-colms p {
        font-size: 20px;
 
     }
}

@media screen and (max-width: 960px) {
    .menue {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    #logo {
        height: 30px;
    }
    .produce-colms p {
        font-size: 20px;
 
     }  
}

