
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* general css here*/
html {
    font-family: 'montserrat';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'sans-serif';
}
 
#bio-heading {
    font-size:19px;
    width:100%;
    text-align: center;
    color: #000000;
}

 p {
    font-size:20px;
 }

.section-heading {
    width:100%;
    text-align: center;
    color: #000000;
    font-size: 30px;
}

/* nav section here. nav section's css was inspired by love running project*/

#logo {
    color: #368a11;
    text-decoration: none;
    text-align: center;
    display:inline;
    font-family: 'montserrat';
    font-size: 150%;
    float: left;
}
.menue {
font-size: 110%;
letter-spacing: 4px;
font-weight: 200;
}
.menue li {
   float: right;
   list-style-type: none;
   margin-right: 20px;
   margin-top: 20px;
}
.menue a {
    text-decoration: none;
    color: #368a11;
    display: inline-block;
    font-family: 'montserrat';
    font-weight: bold;
}
    
.menue, #logo {
    line-height: 30px;
}

.menue a:hover {
   
    color: #368a11;
}

/* hero image section: hero using flex box. this section was inspired from a youtube video-  */

.hero1 {
    background-image: url('../images/farm-image13.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.hero2 {
    background-image: url('../images/farm-image18.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.hero3 {
background-image: url('../images/farm-image17.jpg');
width: 100%;
height: 40vh;
background-size: cover;
background-position: center;
display: flex;
align-items: flex-end;
}

.hero-text {
flex: 1;
text-align: center;
font-size: 1rem;
letter-spacing: 2px;
background-color: #d9ead3;
text-transform: uppercase;
}

 /* why us section. this section was inspired from love running project*/
.why-us {
    text-decoration: none;
    font-family: 'Montserrat', 'sans-serif';
    color:#000000;
    width:100%;
    margin: auto;
}
 .why-us h3 {
    color: #368a11;
 }

.container1 {
    padding-top: 30px;
    float: left;
    text-align: center;
    width: 33%;
    padding-bottom: 30px;
}

.container2 {
    padding-top: 30px;
    text-align: center;
    width: 33%;
    float: right;
    padding-bottom: 30px;
}

 .container3 {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* our-farm section was inspired by diffrent flex-box tutorial */
.section-heading-2 {
    width:100%;
    text-align: center;
    color: #000000;
    font-size: 30px;
    background-color: #d9ead3;
    margin-bottom: 0;
}
 .our-farm-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: #d9ead3;
    padding-top: 40px;
 }
 .our-farm-colms {
    flex: 1;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 5%;
    text-align: left;
 }

.our-farm-colms img{
    width: 90%;
    border-radius: 10px;
}

.our-farm-colms p{
    padding: 0;
}

/* produce pafe starts here: This section uses tweaked flex-box from our-farm section.*/

.our-produce-title h1{
    width:100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #fff;
    color: #000000;
 } 
 
 .produce-row{
    display: flex;
    flex-direction: row;
    gap: 2rem;
 }
 
 .produce-colms {
    flex: 1;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 5%;
    text-align: left;
 }
.produce-colms img{
    width: 90%;
    border-radius: 10px;
}

.produce-colms p{
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
} 

.produce-colms h3 
{
    font-size: 30px;
    text-align: center;
    color: #368a11;
    text-transform: uppercase;
}

/* page ends here*/

/* about us page starts here */

#about-us {
    font-size: 18px;
    line-height: 24px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

form {
    border: 3px solid #f1f1f1;
    font-family: 'montserrat';
    display:flex;
    flex-direction: column;
    background-color: #d9ead3;
}

.container {
    padding: 20px;
    background-color: #d9ead3;
    margin: auto;
}

.input[type=text], input[type=submit] {
    padding: 8px;
    margin: auto;
    border: 2px solid #ccc;
}
  
input[type=submit] {
    background-color: #368a11;
    color: white;
    border: none;
  }
  input[type=submit]:hover {
    opacity: 0.8;
}
/*page ends here*/

/* footer section. this section was inspired from the love running project */
.footer {
    padding-top: 1%;
    padding-bottom: 30px;
}

.footer p {
    font-size: 15px;
}

#footerlogo {
    color: #368a11;
    text-align: center;
    font-family: 'montserrat';
    font-size: 150%;
}

.opening-times {
    text-align: center;
    width: 50%;
    font-family: 'montserrat';
    margin-bottom: 1rem;
    float: left;
}

.address {

    text-align: center;
    width: 50%;
    font-family: 'montserrat';
    margin-bottom: 1rem;
    float: right;
}

.socials {
    font-family: 'montserrat';
}

.socials-list {

    list-style-type:none;
    text-align: center;
    padding:0;
}

.socials-list > li {
    display: inline-block;
    padding:2%;
    text-align: center;
}

.socials-list i {
    font-size: 90%;
    color: #368a11;
    text-align: center;
} 

.footer-heading {
    color: #368a11;
}

.footer {
    margin: 0;
    padding: 0;
}
.iframe {
    width: 100%;
    height: 400px;
}
.rights {
    text-align: center;
    font-size: 10px;
    color: #368a11;
}
/* footer ends here*/

/*@media queries*/

@media screen and (min-width: 280px) and (max-width: 360px) {
    #logo {
        font-size: 5%;  
    }
    .menue li {
        font-size: 10%; 
        clear:left;
        float: right;
        margin-bottom: 20px;
        line-height: 25px;
        letter-spacing: 1px;
    }
    .socials-list i {
        font-size: 70%;
    }
    .p {
        font-size: 10px ;
    }
    .hero-text {
        font-size: 7px;
    }
    .produce-colms p {
        font-size: 12px;
 
     }
     .produce-colms img {
        height: 200px;
        width: 200px;
}
}
@media screen and (min-width: 300px) and (max-width: 500px) {
    #logo {
        font-size: 5%;
        height: 20px;
    }
    .menue {
        font-size: 10%; 
    }
    .hero-text {
        font-size: 10px;
    }
    .produce-colms p {
        font-size: 16px;
 
     }
     .produce-colms img {
        height: 300px;
        width: 300px;
     }
     #bio-heading {
        font-size: 16px;
     }
     .section-heading {
        font-size: 20px;
     }
}

@media screen and (max-width: 700px) {
    #logo {
        height: 20px;
        font-size: 50% ;
    }
    .menue {
        font-size: 30%; 
    }
    .our-farm-row {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .hero-text {
            font-size: 10px;
        }
    #bio-heading {
            font-size: 15px;
    }
    .our-farm-colms {
        width: 85%; 
        margin-left: 10%;
    }    
    .produce-row {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .produce-colms {
        width: 85%; 
        margin-left: 10%;
        }    
    .produce-colms p {
       font-size: 20px;

    }
    .section-heading {
        font-size: 20px;
    }
    .why-us {
        width: 90%;
        margin: 0 auto;
    }
    .why-us h3 {
        width: 100%;
        text-align:center;
    }
    .container1, .container2, .container3 {
        width: 100%     
    }
    .container2 {
        padding-top:0px;
    }
    .container1 {
        padding-bottom: 0px;
    }
    .produce-colms p {
        font-size: 20px;
 
     }
    }

@media screen and (min-width: 700px) and (max-width: 960px) {
    #logo {
        height: 20px;
        font-size: 60% ;
    }
    .menue {
        font-size: 40%; 
    }
}

@media screen and (min-width: 960px) and (max-width:1200px)  {
    .menue {
        float: left;
        line-height: 25px;
    }
    #logo {
        height: 20px;
        font-size: 80% ;
    }
    .produce-colms p {
        font-size: 20px;
 
     }  

}

